.cell16{
    background-color: #D2691E;
}

.cell17{
    background-color: #FF7F50;
}

.cell18{
    background-color: #6495ED;
}

#cell19{
    background-color: #FFF8DC;
}

#cell20{
    background-color: #DC143C;
}